<h1>TODAYS BLOG POSTS</h1>
<div class="all-articles">
	<%= link_to 'All articles' , articles_path %>
</div>
<br>
<%= link_to 'Create new article', new_article_path%>
<%= link_to 'My Blog', controller: 'articles' %>